ngbx-datepicker {
  border: 1px solid #dfdfdf;
  border-radius: 0.25rem;
  display: inline-block;
}

.ngbx-dp-month {
  pointer-events: none;
}
.ngbx-dp-header {
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding-top: 0.25rem;
}
ngbx-datepicker-month-view {
  pointer-events: auto;
}
.ngbx-dp-month-name {
  font-size: larger;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}

.ngbx-dp-month {
  & + .ngbx-dp-month > ngbx-datepicker-month-view > .ngbx-dp-week {
    padding-left: 1rem;
  }

  & + .ngbx-dp-month > .ngbx-dp-month-name {
    padding-left: 1rem;
  }

  &:last-child .ngbx-dp-week {
    padding-right: .25rem;
  }

  &:first-child .ngbx-dp-week {
    padding-left: .25rem;
  }

  & > ngbx-datepicker-month-view > .ngbx-dp-week:last-child {
    padding-bottom: .25rem;
  }
}

.ngbx-dp-months {
  display: flex;
}
